<form class="d-flex flex-column">
  <img class="mb-4 mx-auto logo" ngSrc="/assets/android-chrome-192x192.png" width="192" height="192" priority>
  <h1 class="h3 mb-3 fw-normal">Ingresa tus Datos</h1>

  @if (error !== null) {
    <ngb-alert type="danger" (closed)="dismissError()">{{ error }}</ngb-alert>
  }

  <div class="form-floating">
    <input type="text" class="form-control" id="floatingUsername" placeholder="pepe" name="username" [(ngModel)]="username">
    <label for="floatingUsername">Nombre de Usuario</label>
  </div>
  <div class="form-floating">
    <input type="email" class="form-control" id="floatingInput" placeholder="tecnico@utnfra.com" name="email" [(ngModel)]="email" required>
    <label for="floatingInput">Correo Electrónico</label>
  </div>
  <div class="form-floating">
    <input type="password" class="form-control" id="floatingPassword" placeholder="root" aria-describedby="passwordHelp" name="password" [(ngModel)]="password" required>
    <label for="floatingPassword">Contraseña</label>
  </div>
  <div id="passwordHelp" class="form-text">
    Tu contraseña debe tener al menos 6 caracteres, y no debe contener espacios, caracteres especiales o emoji.
  </div>

  <button class="btn btn-primary w-100 py-2 mt-3" (click)="signIn()" type="submit">Registrate</button>
</form>
<p class="mt-3">Ya tenés una cuenta? <a routerLink="/login">Loggeate</a></p>
