<main class="shadow-lg rounded p-3 bg-body-tertiary d-flex flex-column">
  <img class="rounded-circle shadow mx-auto border border-light border-5" ngSrc="/assets/profile.png" height="241" width="241" alt="Foto de Perfil de GitHub" priority>
  <h1 class="align-self-center">¿Quien soy?</h1>
  <p class="paragraph">
    Hola! Soy Lautaro Joaquín Fonseca, un estudiante de la UTN FRA, cursando mi último año de la carrera. Te invito a visitar los links que dejo abajo para conocer más sobre mi.
  </p>

  <mat-list>
    <div mat-subheader>Links</div>
    <hr>
    @for (link of links; track link.title) {
      <mat-list-item>
        <a class="link-underline link-underline-opacity-0" [href]="link.url">
          <mat-icon [fontIcon]="link.icon" class="inline-icon"></mat-icon>
          {{ link.title }}
        </a>
      </mat-list-item>
    }
  </mat-list>
</main>
