<form class="d-flex flex-column">
  <img class="mb-4 mx-auto logo" ngSrc="/assets/android-chrome-192x192.png" width="192" height="192" priority>
  <h1 class="h3 mb-3 fw-normal">Ingresa tus Datos</h1>

  @if (error !== null) {
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {{ error }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="dismissError()"></button>
    </div>
  }

  <div class="form-floating">
    <input type="email" class="form-control" id="floatingInput" placeholder="tecnico@utnfra.com" name="email" [(ngModel)]="email">
    <label for="floatingInput">Correo Electrónico</label>
  </div>
  <div class="form-floating">
    <input type="password" class="form-control" id="floatingPassword" placeholder="root" name="password" [(ngModel)]="password">
    <label for="floatingPassword">Contraseña</label>
  </div>

  <button class="btn btn-primary w-100 py-2" type="submit" (click)="login()">Loggeate</button>
</form>
<p class="mt-3">No tenés una cuenta? <a routerLink="/sign-in">Registrate</a></p>

<aside class="shadow-lg rounded p-3 bg-body-tertiary">
  <h1 class="text-center">Accesos Rápidos</h1>

  <div class="d-flex justify-content-around">
    @for (account of presetAccounts; track account.username) {
      <button class="btn btn-outline-info m-1" (click)="populateForm(account)">{{ account.username }}</button>
    }
  </div>
</aside>
